body {
  background: #212529;
}

.logo > img {
  height: 75px;
}

.masthead {
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.account-masthead {
  background: #ffffff;
}

.account-masthead .account ul li {
  border-left: none;
}

.account-masthead .account ul li a {
  color: #212529;
}

.account-masthead .account ul li a:hover {
  color: #3454d1;
  background: #ffffff;
}

.masthead .nav > li > a {
  color: #212529;
}

.masthead .navigation .nav-pills li a:hover {
  color: #3454d1;
  background: #ffffff;
}

.hero-unit {
  border-radius: 0px;
  text-align: center;
  background-color: #9bb0c4;
  color: #ffffff;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero-unit > .cover-content > h1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: initial;
}

.hero-unit > .cover-content > h2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: initial;
}

.highlights {
  background-color: #ffffff;
  margin: 0px;
  color: #000000;
  margin-top: 0px;
  align-content: center;
}

.btn-primary {
  background-color: #349bba;
  border-color: #349bba;
}

.btn {
  background-image: none;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

.btn-primary:hover {
  background-color: #16309B;
}

.btn-primary:focus {
  background-color: #349bba;
}

.cover-content {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.edi-header {
  max-width: 650px;
}

.site-footer {
  background: #212529;
}

.footer-ec > table {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #868e96;
  font-size: 1rem;
}

.thumbnail-text {
  text-align: left;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #868e96 !important;
  margin-bottom: 8px;
}

.thumbnails > li {
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none; /* this is the part that makes it work */
}

.thumbnails {
  margin: 0px;
}

.thumbnail {
  padding: 0px;
}

.thumbnail > .card-body > h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1;
  margin-bottom: 0.75rem;
  text-align: left;
}

.thumbnail > .card-body > h6 > a {
  color: #349bba;
}

.thumbnail > .card-body > small > a {
  color: #349bba;
}

.card-body {
  padding: 20px;
  text-align: left;
}
