<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Data Providers?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        15 data providers already committed to let start-ups/SMEs use their
        data sources to sort out major business challenges they identified and
        also support cross-domain challenges, which aim to find new solutions
        combining data from distinct industries.
      {% endtrans %}
    </p>
  </div>
</div>
