{% ckan_extends %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/edi_theme.css" />
{% endblock %}

{%- block custom_styles %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#edeff5",
          "text": "#838391"
        },
        "button": {
          "background": "#4b81e8"
        }
      },
      "position": "top",
      "content": {
        "href": "https://edincubator.eu/terms-of-service/"
      }
    })});
  </script>
{% endblock %}
