{% ckan_extends %}

{% block footer_content %}
<div class="footer-ec">
  <table width="100%" border="0" cellspacing="0" cellpadding="15" bordercolor="#0000FF">
    <tbody>
      <tr>
        <td width="100" style="text-align: left; vertical-align: middle; padding-right:10px"><div class=""><img src="/CC-License.png"></div></td>
        <td width="100" style="text-align: right; vertical-align: middle; padding-right:10px"><img src="/ECflag-footer.jpg"></td>
        <td style="text-align: center; vertical-align: middle;  padding-right:10px">EDI is co-funded by the European Union under Grant agreement number 779790</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
