
<div class="hero-unit">
  <div class="cover-content edi-header">
    <h1>Welcome to European Data Incubator's Data Catalogue</h1>
    <br />
    <p>Here you can find datasets for facing challenges proposed by EDI's Data Providers</p>
    <p>
      Applications are open for Big Data startups and SMEs!
    </p>
    <p>
      <a class="btn btn-primary" href="https://edincubator.eu/about-edi/" target="_blank">
        Read more
      </a>
    </p>
  </div>
</div>
<div class="hero-unit highlights">
  <div class="cover-content highlights">
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img src="/dataproviders.jpeg" alt="">
            <div class="card-body">
              <h6>
                <a href="https://edincubator.eu/data-providers/" target="_blank">Data Providers</a>
              </h6>
              <p class="thumbnail-text">
                  15 data providers already committed to let start-ups/SMEs use their data sources to sort out...
              </p>
              <small>
                <a href="https://edincubator.eu/data-providers/" target="_blank">Read More</a>
              </small>
            </div>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <img src="/challenges.jpeg" alt="">
            <div class="card-body">
              <h6>
                <a href="https://edincubator.eu/challenges/" target="_blank">Challenges</a>
              </h6>
              <p class="thumbnail-text">
                Data providers have defined a set of challenges around Big Data technologies, involving their...
              </p>
              <small>
                <a href="https://edincubator.eu/challenges/" target="_blank">Read More</a>
              </small>
            </div>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <img src="/datasets.jpeg" alt="">
            <div class="card-body">
              <h6>
                <a href="/dataset">Datasets</a>
              </h6>
              <p class="thumbnail-text">
                Register into EDI, explore our Data Provider's datasets and submit your challenge.
              </p>
              <small>
                <a href="/dataset">Read More</a>
              </small>
            </div>
          </div>
        </li>
      </ul>
  </div>
</div>
